
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/Login.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/toast.css' %}">
    <script src="https://kit.fontawesome.com/0284d1fcc6.js" crossorigin="anonymous"></script>
    <link
    rel="icon"
    type="image/x-icon"
    href="{% static 'images/logo5.ico' %}"
  />
    <title>Furin</title>
</head>

<body>
    <div class="gird container">
        <div class="container-forms">
            <div class="container-Underform">
                <div class="form-info">
                    <div class="tableform">
                        <div class="tableformcell">
                            <p>have an account?</p>
                            <div class="btn">
                                Log in
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-info">
                    <div class="tableform">
                        <div class="tableformcell">
                            <p>Email Authentication</p>
                            <div class="btn signup">
                                Confirm
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-FormIn">

                <div class="form-item loginform">
                    <form action="{% url 'handleLogin' %}" method="POST" class="form" id="form2">
                        {% csrf_token %}
                        <div class="tableform">
                            <div class="tableformcell">
                                <div class="form-group">
                                    <label for="username" class="form-label">Username</label>
                                    <input id="username" name="username" type="text" placeholder="5sonline.vip"
                                        class="">
                                    <div class="span"></div>
                                    <span class="form-message"></span>
                                </div>
                                <div class="form-group">
                                    <label for="password1" class="form-label">Password</label>
                                    <input id="password1" name="password" type="password" placeholder="Nhập mật khẩu"
                                        class="">
                                    <div class="span"></div>
                                    <span class="form-message"></span>
                                </div>
                                <button type="submit" class="btn form-submit">
                                    Log in
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="form-item regisform active">
                    <form action="{% url 'register' %}" method="POST" class="form" id="form1">
                        {% csrf_token %}
                        <div class="tableform">
                            <div class="tableformcell">
                                <div class="form-group">
                                    <input  id="fullname" name="fullname" type="hidden" placeholder="VD:Nguyen Tuan "
                                        class="">
                                    <div class="span"></div>
                                    <div class="span"></div>
                                    <span class="form-message"></span>
                                </div>

                                <div class="form-group">
                                    <label for="email" class="form-label">Email</label>
                                    <input id="email" name="email" type="text" placeholder=" Email :"
                                        class="">
                                    <div class="span"></div>
                                    <span class="form-message"></span>
                                </div>
                                <div class="form-group">
                                    <label for="email" class="form-label">Password</label>
                                    <input id="password" name="password" type="password" placeholder="Password"
                                        class="">
                                    <div class="span"></div>
                                    <span class="form-message"></span>
                                </div>
                                <div class="form-group">
                                    <input id="password_confirmation" name="password_confirmation"
                                        placeholder="repasss" type="hidden" class="">
                                    <div class="span"></div>
                                    <span class="form-message"></span>
                                </div>
                                <button type="submit" class="btn form-submit">
                                    Sign up
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                

            </div>
        </div>
    </div>
    <div id="tagtoast">
    </div>
    <div class="backhome">
        <a href="{% url 'back_home' %}"><i class="fa-solid fa-arrow-left" style="color: #ffffff; font-size:30px"></i></a>
    </div>
    <script src="{% static 'JS/style.js' %}"></script>
    <script src="{% static 'JS/toast.js' %}"></script>
    <script src="{% static 'JS/validator.js' %}"></script>
    <script>
        console.log(checkform)
        validator({
            form: '#form1',
            formGroup: '.form-group',
            errSelector: '.form-message',
            rules: [
                
                validator.isRequired('#email'),
                validator.isEmail('#email'),
                validator.minlength('#password', 6),

            ],
            {% comment %} onsubmit: function (data) {
                console.log(data);
            } {% endcomment %}

        })
        validator({
            form: '#form2',
            formGroup: '.form-group',
            errSelector: '.form-message',
            rules: [
                validator.isRequired('#username'),
                validator.isRequired('#password1'),
            ],
            {% comment %} onsubmit: function (data) {
                console.log(data);
            } {% endcomment %}

        })
        //------------event---------------
const notification = "{{islogin}}";
console.log("notification"+notification);
console.log(typeof notification)
if(notification==='faild'){
    toast({
        title: "Login failed",
        content: "Your account or password is incorrect, please check again",
        typeicon: "error",
        duration: 8000

    })}
else if (notification==='verifi_isexists'){
    toast({
        title: "Email is Exists",
        content: "Email is Exists",
        typeicon: "error",
        duration: 8000

    })  
} 

  

        {% comment %} Handel toast {% endcomment %}
      
    </script>
</body>

</html>