
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/Login.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/toast.css' %}">
    <script src="https://kit.fontawesome.com/0284d1fcc6.js" crossorigin="anonymous"></script>
    <link
    rel="icon"
    type="image/x-icon"
    href="{% static 'images/logo5.ico' %}"
  />
    <title>Furin</title>
</head>

<body>
    <div class="gird container">
        <div class="container-forms">
            <div class="container-Underform">
                <div class="form-info">
                    <div class="tableform">
                        <div class="tableformcell">
                            <p>have an account?</p>
                            <div class="btn">
                                Log in
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-info">
                    <div class="tableform">
                        <div class="tableformcell">
                            <p>Email Authentication</p>
                            <div class="btn signup">
                                Confirm
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-FormIn">

                <div class="form-item loginform">
                    <form action="{% url 'handelLogin_driver' %}" method="POST" class="form" id="form2">
                        {% csrf_token %}
                        <div class="tableform">
                            <div class="tableformcell">
                                <div class="form-group">
                                    <label for="email1" class="form-label">Email</label>
                                    <input id="email1" name="email" type="email" placeholder="VD: 123/abc@gmail.com"
                                        class="">
                                    <div class="span"></div>
                                    <span class="form-message"></span>
                                </div>
                                <div class="form-group">
                                    <label for="password1" class="form-label">Mật khẩu</label>
                                    <input id="password1" name="password" type="password" placeholder="Nhập mật khẩu"
                                        class="">
                                    <div class="span"></div>
                                    <span class="form-message"></span>
                                </div>
                                <button type="submit" class="btn form-submit">
                                    Log in
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="form-item regisform active">
                    <form action="{% url 'handle_verifi_driver' %}" method="POST" class="form" id="form1">
                        {% csrf_token %}
                        <div class="tableform">
                            <div class="tableformcell">
                                <div class="form-group">
                                    <input  id="fullname" name="fullname" type="hidden" placeholder="VD:Nguyen Tuan "
                                        class="">
                                    <div class="span"></div>
                                    <div class="span"></div>
                                    <span class="form-message"></span>
                                </div>

                                <div class="form-group">
                                    <label for="email" class="form-label">Email</label>
                                    <input id="email" name="email" type="text" placeholder=" Email :"
                                        class="">
                                    <div class="span"></div>
                                    <span class="form-message"></span>
                                </div>
                                <div class="form-group">
                                    <label for="email" class="form-label">Password</label>
                                    <input id="password" name="password" type="password" placeholder="Password"
                                        class="">
                                    <div class="span"></div>
                                    <span class="form-message"></span>
                                </div>
                                <div class="form-group">
                                    <input id="password_confirmation" name="password_confirmation"
                                        placeholder="repasss" type="hidden" class="">
                                    <div class="span"></div>
                                    <span class="form-message"></span>
                                </div>
                                <button type="submit" class="btn form-submit">
                                    Sign up
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                

            </div>
        </div>
    </div>
    <div class="notifi_sendemail">
        <div class="nav_sendemail">
            <div class="title_sendemail">
                <p>Email xác thực đã được gửi</p>
            </div>
            <div class="icon_sendemail">
                <div class="icon_success_sendemail"><img src="{%static 'images/icon_ss.png' %}"></div>
            </div>
        </div>
        <div class="body_sendemail">
            <div class="body_sendemail_title">
                <span> Email xác thực đã được gửi tới email của bạn <span>
            </div>
            <div class="body_sendemail_content">
                <span>Chúng tôi đã gửi một Email xác thực tới email mà bạn vừa dùng để đăng ký. Vui lòng kiểm tra email của bạn và xác thực<span>
            </div>
            <div class="bt_sendemail">
                <div class="bt_route">
                    <button class="bt_route--footer"><a href="https://mail.google.com/mail">Your Email</a></button>
                </div>
                <div class="bt_route">
                    <button class="bt_route--footer"><a href="{% url 'home_customer_view' %}">Home</a></button>
                </div>
            </div>
        </div>
    </div>
    <div id="tagtoast">
    </div>
    <div class="backhome">
        <a href="{% url 'back_home' %}"><i class="fa-solid fa-arrow-left" style="color: #ffffff; font-size:30px"></i></a>
    </div>
    <script src="{% static 'JS/style.js' %}"></script>
    <script src="{% static 'JS/validator.js' %}"></script>
    <script src="{% static 'JS/toast.js' %}"></script>
    <script>
        console.log(checkform)
        validator({
            form: '#form1',
            formGroup: '.form-group',
            errSelector: '.form-message',
            rules: [
                validator.isRequired('#email'),
                validator.isEmail('#email'),
                validator.isRequired('#password'),
                validator.minlength('#password', 6),
                

            ],
            {% comment %} onsubmit: function (data) {
                console.log(data);
            } {% endcomment %}

        })
        validator({
            form: '#form2',
            formGroup: '.form-group',
            errSelector: '.form-message',
            rules: [
                validator.isRequired('#email1'),
                validator.isEmail('#email1'),
                validator.isRequired('#password1'),
                validator.minlength('#password1',6),
                
            ],
            {% comment %} onsubmit: function (data) {
                console.log(data);
            } {% endcomment %}

        })
        //------------event---------------
const notification = "{{islogin}}";
console.log("notification"+notification);
console.log(typeof notification)
if(notification==='faild'){
    toast({
        title: "Đăng nhập thất bại",
        content: "Tài khoản hoặc mật khẩu của bạn không chính xác, vui lòng đăng nhập lại",
        typeicon: "error",
        duration: 8000

    })}
else if (notification==='signup'){
    toast({
        title: "Đăng ký thất bại",
        content: "Email đã tổn tại",
        typeicon: "error",
        duration: 8000

    })  
}  
else if(notification==='noverifi'){
    toast({
        title: "Đăng nhập thất bại",
        content: "Tài khoản bạn chưa được xác thực, vui lòng xác thực và thử lại",
        typeicon: "error",
        duration: 8000

    }) 
}
else if(notification==='verifisuccess'){
    toast({
        title: "Xác thực tài khoản thành công",
        content: "Bạn đã xác thực tài khoản thành công , có thể thực hiện đăng nhập",
        typeicon: "success",
        duration: 8000

    }) 
}
else if(notification==='isNoneAccount'){
    toast({
        title: "Tài khoản không đủ quyền",
        content: "Tài khoản bạn vừa nhập không đủ quyền để thực hiện hành động này",
        typeicon: "error",
        duration: 8000

    }) 
}

else if(notification==='verifi_isexists'){
    toast({
        title: "Tài khoản đã được xác thực",
        content: "Tài khoản bạn vừa nhập đã xác thực, xin hãy thử lại với tài khoản khác !",
        typeicon: "error",
        duration: 8000

    }) 
}
else if(notification==='sendEmail'){
    console.log("send email success.................")
    const blocksendemail = document.querySelector('.notifi_sendemail')
    const container = document.querySelector('.container')
    blocksendemail.style.display = 'block' 
    container.classList.add('show')
}     
const dltoast = document.querySelectorAll('.toast-exit');
console.log("button_exit: ",dltoast)
dltoast.forEach(element => {
  element.onclick = function(){
    console.log("is click exits")
    element.parentElement.remove('toast')
  }
})   
  

        {% comment %} Handel toast {% endcomment %}
      
    </script>
</body>

</html>