{% load static %}
<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/style_home_customer.css' %}">
    {% comment %} <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script> {% endcomment %}
    <script src="https://kit.fontawesome.com/0284d1fcc6.js" crossorigin="anonymous"></script>
    <script src="{% static 'JS/style.js' %}"></script>
    <link rel="stylesheet" href="{% static 'CSS/fontawesome.min.css' %}">
    {% comment %} <link rel="stylesheet" href="{% static 'CSS/bootstrap.min.css' %}"> {% endcomment %}
    <link rel="stylesheet" href="{% static 'CSS/templatemo-style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/toast_customer_form.css' %}">
    <link
      rel="icon"
      type="image/x-icon"
      href="{% static 'images/logo5.ico' %}"
    />
    <title>Furin</title>
  </head>
  <body>
    <header class="bg-dark">
      <div class="container">
        <nav class="nav_bar">
          <div>
            <img class="logo_img" style="width:50px; height:50px;" src="{% static 'images/logo_light.png' %}"></img>
            <a href="{% url 'home_customer_view' %}" class="logo">Furin</a>
          </div>
          <div class="block_search_form">
            <div class="tm-bg-primary-dark-block_book_car">
              {% comment %} <h2 class="tm-block-title">Search</h2> {% endcomment %}
              <form method="GET" action="{% url 'search_customer' %}" class="search-form">
                <div class="input_book_car custom-css-class">
                  <input type="text" name="search_text"  id="select_search_text" class="mr-5px search_text" placeholder="Điểm bắt đầu..điểm kết thúc..tên tài xế..loại phương tiện">
                  <input type="date" name="input_date" class="mr-5px" id="select_mounth">
                  <select size="1" autocomplete="off" id="select_mounth" name="hours">
                    <option value="">Giờ</option>
                    <option value="01">01</option>
                    <option value="02">02</option>
                    <option value="03">03</option>
                    <option value="04">04</option>
                    <option value="05">05</option>
                    <option value="06">06</option>
                    <option value="07">07</option>
                    <option value="08">08</option>
                    <option value="09">09</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                    <option value="13">13</option>
                    <option value="14">14</option>
                    <option value="15">15</option>
                    <option value="16">16</option>
                    <option value="17">17</option>
                    <option value="18">18</option>
                    <option value="19">19</option>
                    <option value="20">20</option>
                    <option value="21">21</option>
                    <option value="22">22</option>
                    <option value="23">23</option>
                    <option value="00">00</option>
                </select>  
                <select id="select_year" name="minutes">
                    <option value="">Phút</option>
                </select>
                    <button type="submit" class="bt_search"><i class="fa fa-search" style="font-size: 20px;
                      color: #ff8276;"></i></button>
                </div>
                <div class="group_button_search_book">
                  
                </div>
              </form>
            </div>
          </div>
          <div>
            <ul id="nav-links" class="nav-links">
              <li>
                <div class="nav__cta__info--has-menu--book_car">
                    <div class="nav_cta_history">
                      <div>
                         <i class="fa-solid fa-clock-rotate-left rotate_time_icon" style="color: #ffffff;"></i>
                      </div>
                        <p class="nav_history" href="#">Lịch Sử Đặt</p>
                      <div>
                        <i class="fa-solid fa-caret-down rotate_iconnext" style="color: #fff;"></i>
                      </div>
                    </div>
                  <div class="nav__cta__menu_history_book">
                    <div class="block_history_book_car">
                        <div class="tm-history-items">
                          <ul>
                            {% for order in my_orders%}
                              <li>
                                <div class="block_info_history">
                                  {% comment %} <div class="block_info_img">Ngày đi : {{order.day_schedule}}</div> {% endcomment %}
                                  <div class="block__content__history">
                                    <div class="title_new">
                                      <span class="char_new">Mới</span>
                                    </div>
                                      <div class="content_history_book">
                                        <p class="mb-2"><b> Tên Chuyến Đi : {{order.name_schedule_order}}</b>
                                      </div>
                                      <div class ="content_history_book">
                                          <p href="#" class="tm-notification-link"> Số chỗ : {{order.quantity_slot}}</p>
                                          <p href="#" class="tm-notification-link"> Giờ bắt đầu đi : {{order.start_date_time}}</p>
                                      </div>
                                      <div class= "content_history_book">
                                        <span class="tm-small tm-text-color-secondary"> Ngày đi : {{order.day_schedule}}</span>
                                        <p href="#" class="tm-notification-link"> Địa điểm: {{order.pickup_location}}</p>
                                      </div>
                                      <div class= "content_history_book">
                                        <span class="tm-small tm-text-color-secondary"> Thời gian đặt : {{order.pickup_daytime}}</span>
                                      </div>
                               
                                  </div>
                                  <div class="block_destroy_order">
                                      <button class="bt_destroy_book" data-schedule-date="{{ order.day_schedule }}" data-order-id ="{{order.id}}" data-start-time ="{{order.start_date_time}}"> Hủy</button>
                                  </div>
                              </div>
                             
                              </li>
                            {%endfor%}

                          </ul>  
                        </div>
                    </div>
                  </div>  
                </div>
              </li>
              {% if request.customer %}
              <li>
                <div class="nav__cta__info--has-menu">
                  <div class="nav__cta__info">
                    <p class="nav__cta">{{request.customer.name_customer}}</p>
                    <p class="nav__mores"><i class="fa-solid fa-caret-down rotate_iconnext_login" style="color: #ff4405;"></i></p>
                  </div>
                  <div class="nav__cta__menu">
                    <ul class="nav__cta__list">
                      <li class="nav__cta__item">
                        <a href="{% url 'view_profile_customer' %}" class="nav__cta__link">
                          <i class="fa-regular fa-user" style="color: #ff4000;"></i>
                          <div class="nav__cta__function">
                              <span class="nav__cta__functionname"> Hồ Sơ Cá Nhân </span>
                          </div>
                        </a>
                      </li>
                      <li class="nav__cta__item">
                        <a href="{% url 'handle_logout' %}" class="nav__cta__link">
                          <i class="fa-solid fa-arrow-right-from-bracket" style="color: #ff4000;"></i>
                          <div class="nav__cta__function">
                              <span class="nav__cta__functionname">Đăng Xuất</span>
                          </div>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </li>
              {% else %}
              <li><a class="nav__hover" href="{% url 'redirectRegister'%}">Log in</a></li> 
              <li><a class="nav__noLogin" href="{% url 'redirectRegister'%}" class="nav__cta">Sign up</a></li>
              {% endif %}
            </ul>
          </div>
          <div class="hamburger">
            <span class="hamburger-bar"></span
            ><span class="hamburger-bar"></span>
            <span class="hamburger-bar"></span>
          </div>
        </nav>
      </div>
    </header>
    <section id="main__cta_customer">
      <div class="container_table">
        <div class="container_customer">
          <!-- row -->
          <div class="row tm-content-row">
            <div class="block_head_flex">
                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 tm-block-col">
                  {% comment %} <div class="tm-bg-primary-dark-block_book_car">
                    <form method="GET" action="{% url 'search_customer' %}" class="search-form">
                      <div class="input_book_car">
                          {{ my_filter_form.as_p }}
                          <button type="submit" class="bt_search"><i class="fa fa-search" style="font-size: 20px;
                            color: #101648;"></i></button>
                      </div>
                      <div class="group_button_search_book">
                        
                      </div>
                    </form>
                  </div>  {% endcomment %}
                </div >
            </div>
              <div class="col-12 tm-bg-primary-dark tm-block-col block_info_schedules">
                <h2 class="tm-block-title">Danh sách các chuyến đi </h2>
                  <div class="tm-bg-primary-dark tm-block tm-block-taller tm-block-scroll">
                      
                      <table class="table">
                          <thead>
                              <tr>
                                  <th scope="col">Trạng_Thái_Chỗ </th>
                                  <th scope="col">Loại_Phương_Tiện </th>
                                  <th scope="col">Số_Chỗ</th>
                                  <th scope="col">Hình Ảnh</th>
                                  <th scope="col">Điểm_Xuất_Phát</th>
                                  <th scope="col">Điểm_Kết_Thức</th>
                                  <th scope="col">Giờ_Xuất_Phát</th>
                                  <th scope="col">Ngày_Đi</th>
                              </tr>
                          </thead>
                          <tbody>
                              {% for schedule in schedules %}
                              <tr>
                                  <td>
                                    {%if schedule.slot_vehicle == 0 %}
                                      <div class="tm-status-circle isfull">
                                      </div>Is Full
                                    {%else%}
                                      <div class="tm-status-circle notfull">
                                      </div>Not Full
                                    {%endif%}  
                                  </td>
                                  <td><b>{{schedule.vehicle.type_vehicle}}</b></td>
                                  <td><b>{{schedule.slot_vehicle}}</b></td>
                                  <td><img style="border-radius:3px;" class="list_img_vehicle" data-img-vehilce="{{ schedule.vehicle.img_vehicle.url }}" src="{{schedule.vehicle.img_vehicle.url}}"></td>
                                  <td><b>{{schedule.start_location}}</b></td>
                                  <td><b>{{schedule.end_location}}</b></td>
                                  <td>{{schedule.start_time}}</td>
                                  <td>{{schedule.start_date}}</td>
                                  <td><button class="bt_book_car" 
                                     data-schedule-id="{{ schedule.id }}" 
                                     data-customer-id="{{ request.customer.id }}"
                                     data-carownername ="{{schedule.vehicle.driver.carowner.username}}"
                                     data-phonecarowner ="{{schedule.vehicle.driver.carowner.phone_carowner}}"

                                     data-phonedriver ="{{schedule.vehicle.driver.phone_driver}}"
                                     data-drivername ="{{schedule.vehicle.name_driver}}"
                                     data-vehicletype ="{{schedule.vehicle.type_vehicle}}"
                                     data-startlocation ="{{schedule.start_location}}"
                                     data-endlocation ="{{schedule.end_location}}"
                                     data-quantityslot ="{{schedule.vehicle.slot_vehicle}}"
                                     data-startday ="{{schedule.start_date}}"
                                     data-price ="{{schedule.price_schedule}}"
                                     > Đặt</button></td>
                              </tr>
                              {% endfor %}
                          </tbody>
                      </table>
                  </div>
              </div>
          </div>
      </div>
      </div>
    </section>
    <section id="business-header">
      <div class="container">
        <div class="business-header__text resetcolor text-cta">
          <h3>Furin bên bạn trong những chuyến đi</h3>
          <p>
           Tôi tìm thấy mình trong những chuyến đi,
           cảm giác đó không thể nào thay thế được bởi những thứ khác.
           Lý do chính kéo tôi vào cuộc hành trình , chỉ đơn giản là những
           khung hình trong đôi mắt mình thay đổi khi những con đường lướt qua
          </p>
          {% comment %} <a href="#" class="btn">Bắt đầu đặt</a> {% endcomment %}
        </div>
      </div>
    </section>

    <section data-aos="zoom-in" id="engagements__section" class="bg-light">
      <div class="container">
        <div class="nav_container_title text-cta">
          <img class="text-cta" width="64" height="64" src="https://img.icons8.com/nolan/64/1A6DFF/C822FF/beach-umbrella--v1.png" alt="beach-umbrella--v1"/>
            <h3> Tập trung vào sự an toàn mọi lúc mọi nơi</h3>
        </div>
        <div class="split home__conten">
          
          <div class="engagements__section__flex Titlecolor1 text-cta">
            <img
              src="{%static 'images/bg27.jpg'%}"
              alt=""
            />
            <h4>Cam kết của chúng tôi đối với sự an toàn của bạn</h4>
            <p class="sous-titre__home__conten">
              Yên thảo như bích ty,
              Tần tang đê lục chi.
              Đương quân hoài quy nhật,
              Thị thiếp đoạn trường thì.
              Xuân phong bất tương thức,
              Hà sự nhập la vi?
            </p>
            <div class="Home__conten__footer">
              <a href="#" class=" home__conten"
              ><i class="fa-solid fa-book-open"></i> Khám phá điều lệ </a
            >
            <a href="#" class=" footer"
              ><i class="fa-solid fa-angles-right"></i> xem thêm tính năng bảo mật</a
            >
            </div>
          </div>
          <div class="engagements__section__flex Titlecolor2 text-cta">
            <img
               src="{%static 'images/bg19.jpg'%}"
              alt=""
            />
            <h4>Tầm phủ rộng trong khắp mọi thành phố</h4>
            <p class="sous-titre__home__conten">
              Yên Chi hoàng diệp lạc,
              Thiếp vọng tự đăng đài.
              Hải thượng bích vân đoạn,
              Thiền Vu thu sắc lai.
              Hồ binh sa tái hợp,
              Hán sứ Ngọc Quan hồi.
              Chinh khách vô quy nhật,
              Không bi huệ thảo tồi.
            </p>
            <div class="Home__conten__footer">
              <a href="#" class=""
              ><i class="fa-solid fa-book-open"></i> Khám phá điều lệ </a
            >
            <a href="#" class="footer"
              ><i class="fa-solid fa-angles-right"></i> xem thêm tính năng bảo mật</a
            >
            </div>
          </div>
        </div>
      </div>
    </section>

    <section data-aos="fade-up" id="infos__section" class="bg-light">
      <div class="container">
        <div class="split">
          <div class="infos__section__card">
            <img
              src="https://www.uber-assets.com/image/upload/q_auto:eco,c_fill,w_24,h_24/v1542256135/assets/dd/c53d7b-8921-4dc7-93f4-45fb59f4ffb9/original/person-multiple-outlined.svg"
              alt=""
            />
            <p class="titre">ý tưởng của chúng tôi </p>
            <p class="sous-titre">
              tôi sẻ cho bạn biết nguồn động lực và ý tưởng để chúng tôi làm ra website này. 

            </p>
            <a href="#" class="text-cta">Tìm hiểu thêm</a>
          </div>
          <div class="infos__section__card">
            <img
              src="https://www.uber-assets.com/image/upload/q_auto:eco,c_fill,w_24,h_24/v1542254244/assets/eb/68c631-5041-4eeb-9114-80048a326782/original/document-outlined.svg"
              alt=""
            />
            <p class="titre">Trang xã hội của chúng tôi </p>
            <p class="sous-titre">
              Nơi chúng tôi chia sẻ những thông tin những câu chuyện về những chuyến đi của chúng tôi
            </p>
            <a href="#" class="text-cta">Tìm hiểu thêm</a>
          </div>
          <div class="infos__section__card">
            <img
              src="https://www.uber-assets.com/image/upload/q_auto:eco,c_fill,w_24,h_24/v1542255370/assets/64/58118a-0ece-4f80-93ee-8041b53593d5/original/home-outlined.svg"
              alt=""
            />
            <p class="titre">Ý tưởng phát triển </p>
            <p class="sous-titre">
              Chúng tôi sẻ cho bạn biết dự định của bản thân ý tưởng phát triển trong tương lai.
            </p>
            <a href="#" class="text-cta">Tìm hiểu thêm</a>
          </div>
        </div>
      </div>
    </section>

    <footer class="bg-dark">
      <div class="container">
        <nav>
          <div><a href="#" class="logo">Furin</a></div>
          <div>
            <a href="#">Sẳn sàng đồng hành cùng bạn trong mọi chuyến đi</a>
          </div>
        </nav>
      </div>
    </footer>
    <div class ="display_img_click">
          <img class="display_img_item">
          <span class="display_img_button_exit">✘</span>
    </div>
    <div class="invoice_block_book">
      <div class="nav_invoice">
        <div class="invoice_logo">
          <img class="incoive_logo_img" style="width:50px; height:50px;" src="{% static 'images/logo_light.png' %}"></img>
          <a href="#" class="logo">Hóa Đơn</a>
        </div>
        <div class="invoice_conten_right">
          <div class="span_iconoutbook">✘</div>
        </div>
      </div>
      <div class="invoice_container">
        <div class="invoice_container_title">
          {% comment %} <p class="carownername">Lã Tiểu Ngư</p> {% endcomment %}
        </div>
        <div class="invoice_container_conten">
          <div class="invoice_info_book">
            <div class="invoice_info_book-title">
              <p>Tài xế: </p>
            </div>
            <div>
            <p class="drivername">none</p>
            </div>
          </div>
          <div class="invoice_info_book">
            <div class="invoice_info_book-title">
              <p>Số điện thoại tài xế: </p>
            </div>
            <div>
            <p class="phone_driver">none</p>
            </div>
          </div>
          <div class="invoice_info_book">
            <div class="invoice_info_book-title">
              <p>Số điện thoại nhà xe: </p>
            </div>
            <div>
            <p class="phone_carowner">none</p>
            </div>
          </div>
          <div class="invoice_info_book">
            <div class="invoice_info_book-title">
              <p>Loại phương tiện: </p>
            </div>
            <p class="vehicletype">none</p>
          </div>
          <div class="invoice_info_book">
            <div class="invoice_info_book-title">
              <p>Điểm bắt đầu: </p>
            </div>
            <p class="startlocation">none</p>
          </div>
          <div class="invoice_info_book">
            <div class="invoice_info_book-title">
              <p>Điểm đến: </p>
            </div>
            <p class="endlocation">none</p>
          </div>
          <div class="invoice_info_book">
            <div class="invoice_info_book-title">
              <p>Ngày đi: </p>
            </div>
            <p class="startday">none</p>
          </div>
          <div class="invoice_info_book">
            <div class="invoice_info_book-title">
              <p>Số lượng chỗ muốn đặt: </p>
            </div>
            <input  class="input_quantity" type="number" name="quantity" min="1" max="5" value="1">
            <div class="invoice_info_book-title">
              <p>Giá :</p>
            </div>
            <p class="price">150000</p>
          </div>
        </div>
      </div>
      <div class="invoice_footer">
        <button class="invoice_bt">Xác nhận</button>
      </div>
    </div>
    <div class="search_policy">
      <img src="{%static '/images/search_policy.png'%}"  class="img_search_policy">
    </div>
    <div class="showchoice">
      <div class="body_showchoice">
        <div class="showchoice_title">
          <span>Bạn đã đặt lịch trình này</span>
        </div>
        <div class="showchoice_content">
          <span>Bạn đã đặt chuyến đo cho : <span class="showchoice_startday world_primakey">20/10/2023</span>
            với tên lịch trình là <span class="showchoice_nameschedule world_primakey">Đà Nẵng Quảng Bình</span>
            <br>
            Giờ xuất phát: <span class="showchoice_start_time world_primakey">3</span>
            <br>
            Số chỗ là: <span class="showchoice_slot world_primakey">1</span>
            <br>
            Bây giờ bạn có muốn<span class="world_primakey"> chỉnh sửa lại đơn đặt </span>với số chỗ là : <span class="showchoice_new_slots world_primakey">3</span> không!.
          </span>
        </div>
        <div class="showchoice_button">
          <div class="bt_click">
            <button class="bt_primary bt_click_oce">Đặt</button>
          </div>
          <div class="bt_click">
            <button class="bt_primary bt_click_cancel">Hủy</button>
          </div>
        </div>
      </div>
    </div>
    <div id="tagtoast">
    </div>
    <script src="{% static 'JS/book.js' %}"></script>
    <script src="{% static 'JS/toast_customer_form.js' %}"></script>
    <script>
      document.addEventListener("DOMContentLoaded", function () {

        {% comment %} ----------Show question mark------------ {% endcomment %}

        const qm = document.querySelector('.question_mark--icon');
        const block_qm_policy = document.querySelector('.search_policy')


      
          
          const input_quantity= document.querySelector('.input_quantity')
          const invoice = document.querySelector('.invoice_block_book')
          const container = document.querySelector('.container')
  
          const bookButtons = document.querySelectorAll(".bt_book_car");
          {% comment %} const carownername = document.querySelector('.carownername') {% endcomment %}
          const drivername = document.querySelector('.drivername')
          const vehicletype = document.querySelector('.vehicletype')
          const startlocation = document.querySelector('.startlocation')
          const endlocation = document.querySelector('.endlocation')
          const phonecarowner = document.querySelector('.phone_carowner')
          const phonedriver = document.querySelector('.phone_driver')
          const button_confirm = document.querySelector('.invoice_bt')
          const startday = document.querySelector('.startday')
          const price = document.querySelector('.price')


          const showChoiceBook = document.querySelector('.showchoice')
          const bt_click_oce = document.querySelector('.bt_click_oce')
          const bt_click_cancel = document.querySelector('.bt_click_cancel')

          const showchoice_startday = document.querySelector('.showchoice_startday')
          const showchoice_nameschedule = document.querySelector('.showchoice_nameschedule')
          const showchoice_slot = document.querySelector('.showchoice_slot')
          const showchoice_start_time = document.querySelector('.showchoice_start_time')
          const showchoice_new_slots = document.querySelector('.showchoice_new_slots')
          console.log(bookButtons)



          {% comment %} -------------------View img-------------------------------------- {% endcomment %}


          list_img_vehicle = document.querySelectorAll('.list_img_vehicle')
          console.log("list img",list_img_vehicle)
          list_img_vehicle.forEach(imglist => {
            imglist.addEventListener("click", function () {
              const display_img_click = document.querySelector('.display_img_click')
              const img_get = this.getAttribute('data-img-vehilce')
              const img_item = document.querySelector('.display_img_item')
              const img_bt_exit = document.querySelector('.display_img_button_exit')
              console.log("get_img :",img_get)
              display_img_click.style.display = 'block'
              img_item.src = img_get;
              container.classList.add("show");
              img_bt_exit.onclick= function(){
                display_img_click.style.display = 'none'
                container.classList.remove("show");
              }
              
            })
          })



          {% comment %} -----------------------Book----------------------- {% endcomment %}

          bookButtons.forEach(button => {
              button.addEventListener("click", function () {
                  const scheduleId = this.dataset.scheduleId;
                  const customerId = this.dataset.customerId;
                  const carownername_get = this.getAttribute('data-carownername')
                  const drivername_get = this.getAttribute('data-drivername')
                  const vehicletype_get = this.getAttribute('data-vehicletype')
                  const startlocation_get = this.getAttribute('data-startlocation')
                  const endlocation_get = this.getAttribute('data-endlocation')
                  const phone_carowner = this.getAttribute('data-phonecarowner')
                  const phone_driver = this.getAttribute('data-phonedriver')
        
                  const quantityslot = this.getAttribute('data-quantityslot')
                  const startday_get = this.getAttribute('data-startday')
                  const price_schedule = this.getAttribute('data-price')
                  
                  {% comment %} console.log(scheduleId)
                  console.log(customerId)
                  console.log(carownername_get)
                  console.log(drivername_get)
                  console.log(vehicle_gettype)
                  console.log(startlocation_get)
                  console.log(endlocation_get)
                  console.log(container)
                  console.log(startday_get) {% endcomment %}
                  
                  {% comment %} -----------set info invoice ------------- {% endcomment %}

                  {% comment %} carownername.innerHTML=carownername_get {% endcomment %}
                  drivername.innerHTML=drivername_get
                  vehicletype.innerHTML=vehicletype_get
                  startlocation.innerHTML=startlocation_get
                  endlocation.innerHTML=endlocation_get
                  startday.innerHTML =startday_get
                  input_quantity.max = quantityslot
                  phonecarowner.innerHTML = phone_carowner
                  phonedriver.innerHTML = phone_driver

                  const default_price = new Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND' }).format(price_schedule);
                  price.innerHTML = default_price
                  var total_price = 0;
                  input_quantity.oninput = function(){
                    console.log("oninput khởi chạy")
                    total_price = input_quantity.value * price_schedule
                    const formattedAmount = new Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND' }).format(total_price);
                    console.log(formattedAmount);
                    price.innerHTML = formattedAmount
                  }

                  
                  

                  container.classList.add("show");
                  invoice.style.display ='block'

                console.log(button_confirm)

                function handelBook(scheduleId,customerId,slot){
                  fetch(`/book_vehicle/${scheduleId}/${customerId}/${slot}/`, {
                    method: "POST",
                    headers: {
                      "X-CSRFToken": "{{ csrf_token }}",  
                    },
                  })
                  .then(response => response.json())
                  .then(data => {
                    
                    if (data.message) {
                        const notifi_book = data.message;
                        toast({
                          title: "Thành công!",
                          content: "Bạn vừa đặt một chuyến đi thành công.",
                          typeicon: "success",
                          duration: 8000
                  
                      })  
                        container.classList.remove("show");
                        invoice.style.display ='none'
                    } else if (data.error) {
                        const data_err = data.error;
                        toast({
                          title: "Đặt thất bại",
                          content: data_err,
                          typeicon: "error",
                          duration: 8000
                  
                      })
                      container.classList.remove("show");
                      invoice.style.display ='none'
                    }
                    const dltoast = document.querySelectorAll('.toast-exit');
                    console.log("button_exit: ",dltoast)
                    dltoast.forEach(element => {
                      element.onclick = function(){
                        console.log("is click exits")
                        element.parentElement.remove('toast')
                      }
                    }) 
                  })
                  .catch(error => {
                    console.error("Đã xảy ra lỗi:", error);
                  });
                }
                function handelBookSecond(scheduleId,customerId,slot){
                  fetch(`/handle_book_vehicle_second/${scheduleId}/${customerId}/${slot}/`, {
                    method: "POST",
                    headers: {
                      "X-CSRFToken": "{{ csrf_token }}",  
                    },
                  })
                  .then(response => response.json())
                  .then(data => {
                    
                    if (data.message) {
                        const notifi_book = data.message;
                        toast({
                          title: "Thành công!",
                          content: "Bạn vừa đặt một chuyến đi thành công.",
                          typeicon: "success",
                          duration: 8000
                  
                      })  
                        container.classList.remove("show");
                        invoice.style.display ='none'
                    } else if (data.error) {
                        const data_err = data.error;
                        toast({
                          title: "Đặt thất bại!",
                          content: data_err,
                          typeicon: "error",
                          duration: 8000
                  
                      })
                      container.classList.remove("show");
                      invoice.style.display ='none'
                    }
                    const dltoast = document.querySelectorAll('.toast-exit');
                    console.log("button_exit: ",dltoast)
                    dltoast.forEach(element => {
                      element.onclick = function(){
                        console.log("is click exits")
                        element.parentElement.remove('toast')
                      }
                    }) 
                  })
                  .catch(error => {
                    console.error("Đã xảy ra lỗi:", error);
                  });
                }
                button_confirm.onclick= function (){
                    const slot = input_quantity.value
                    console.log("slot :",slot)
                  fetch(`/checkBeforeBook/${scheduleId}/${customerId}/${slot}/`, {
                      method: "POST",
                      headers: {
                        "X-CSRFToken": "{{ csrf_token }}",  
                      },
                    })
                    .then(response => response.json())
                    .then(data => {
                      if(data.message=== 'isexits'){
                        
                        showchoice_startday.innerHTML = data.day_schedule
                        showchoice_nameschedule.innerHTML = data.nameschedule
                        showchoice_slot.innerHTML = data.slots
                        showchoice_start_time.innerHTML = data.start_time
                        showchoice_new_slots.innerHTML = data.newslots
                        showChoiceBook.style.display = 'block'
                        invoice.style.display ='none'
                        bt_click_oce.onclick = function(){
                          console.log("handelBookSecond..............")
                          handelBookSecond(scheduleId,customerId,slot)
                          showChoiceBook.style.display = 'none'
                          container.classList.remove("show");
                        }
                        bt_click_cancel.onclick = function(){
                          showChoiceBook.style.display = 'none'
                          container.classList.remove("show");
                        }

                      }else if(data.message === 'isnotexits' ){
                        handelBook(scheduleId,customerId,slot)
                      }
                    })
                    .catch(error => {
                      console.error("Đã xảy ra lỗi:", error);
                  })
                } 
                  
                  const searchIcon = document.querySelector('.search-icon');
                  const spanIconoutbook = document.querySelector('.span_iconoutbook');
                  console.log(spanIconoutbook)
                  spanIconoutbook.onclick= function(){
                    container.classList.remove("show");
                    invoice.style.display ='none'
                  }
                  searchIcon.onclick=function(){
                      const searchForm = document.querySelector('.search-form');
                      searchForm.submit(); 
                  }  
              });
          });



          {% comment %} --------------Scroll height and Add item New order ------------------------ {% endcomment %}


          const hoverScroll = document.querySelector('.nav__cta__info--has-menu--book_car')
          const blockScroll = document.querySelector('.nav__cta__menu_history_book')
          const arrayScroll = document.querySelectorAll('.block__content__history')
          const rotate_iconnext = document.querySelector('.rotate_iconnext')
          const rotate_time_icon = document.querySelector('.rotate_time_icon')
          console.log("array history :", arrayScroll)
          const len = arrayScroll.length
          console.log(arrayScroll[len - 1])
          arrayScroll[len - 1].classList.add('title_new_active')

          hoverScroll.addEventListener('mouseenter',function(){
            blockScroll.style.display = 'block';
            rotate_iconnext.style.transform = 'rotate(270deg)'
            setTimeout(function() {
              blockScroll.scrollTop = blockScroll.scrollHeight;
          }, 0);
          })
          hoverScroll.addEventListener('mouseleave',function(){
            blockScroll.style.display = 'none';
            rotate_iconnext.style.transform = 'rotate(0deg)'
          })


          {% comment %} ------------------------------Cancel order------------------- {% endcomment %} 

            var currenday = new Date("{{ current_date }}")
            var timedate = new Date()
            var timenow = timedate.getHours() + ":" + timedate.getMinutes() + ":" + timedate.getSeconds();
            var elements = document.querySelectorAll('.bt_destroy_book');
              elements.forEach(function (element) {
                var scheduleDate = new Date(element.getAttribute('data-schedule-date'));
                var start_time = element.getAttribute('data-start-time')

                console.log("start_time: ",start_time)
                var startTimeParts = start_time.match(/(\d+)(?::(\d+))?\s?([ap]\.m\.)?/i);
                if (startTimeParts) {
                    var startHour = parseInt(startTimeParts[1]);
                    var startMinute = parseInt(startTimeParts[2]);
                    var ampm = startTimeParts[3] ? startTimeParts[3].toLowerCase() : null;
                    console.log("startTimeParts: ", startTimeParts);
                    console.log("startHour: ", startHour);
                    console.log("startMinute: ", startMinute);
                    console.log("ampm: ", ampm);

                  if (ampm === "p.m." && startHour < 12) {
                    console.log("night")
                    startHour += 12;
                  } else if (ampm === "a.m." && startHour === 12) {
                    startHour = 0;
                  }
                  var startTimeFormatted = `${startHour}:${startMinute}:00`;
                  console.log("timenow: ", timenow);
                  console.log("format start time: ", startTimeFormatted);
                } else {
                    console.log("Invalid start_time format");
                } 
                console.log("current_day: ",currenday)
                console.log("scheduleDate: ",scheduleDate)
                var timehour = timenow.split(':')
                timehour = 2 + parseInt(timehour[0])
                console.log("timenowhour: ", timehour)
                console.log("starthour_2: ", startHour)
                if (timehour > startHour) {
                  console.log("timenow > startTimeFormatted");
                } else {
                  console.log("timenow < startTimeFormatted");
                } 
                if (currenday > scheduleDate) {
                  console.log("currenday is greater than schedule day......")
                  element.style.display = 'none';
                }
                else if (currenday.getTime() === scheduleDate.getTime()){
                  if(timehour > startHour){
                    console.log("currenday with the schedule day and time now is greater than start time......")
                    element.style.display = 'none';
                  }  
                }
                element.addEventListener("click", function () {
                    blockScroll.style.display = "none";
                    const idorder = this.getAttribute('data-order-id')
                    console.log("id_order: ",idorder)
                    fetch(`/handle_cancel_order/${idorder}/`,{
                      method: "POST",
                      headers:{
                        "X-CSRFToken": "{{ csrf_token }}",
                      },
                    })
                    .then(response => response.json())
                    .then(data => {
                      
                      if (data.notifiCancel) {
                          const notifi_book = data.notifiCancel;
                          toast({
                            title: "Hủy thành công!",
                            content: "Bạn vừa hủy một chuyến đi của mình",
                            typeicon: "error",
                            duration: 8000
                    
                        })  
                          container.classList.remove("show");
                          invoice.style.display ='none'
                          
                      } else if (data.error_Cancel) {
                          const data_err = data.error_Cancel;
                          toast({
                            title: "Hủy thất bại!",
                            content: data_err,
                            typeicon: "error",
                            duration: 8000
                    
                        })
                      }
                      const dltoast = document.querySelectorAll('.toast-exit');
                      console.log("button_exit: ",dltoast)
                      dltoast.forEach(element => {
                        element.onclick = function(){
                          console.log("is click exits")
                          element.parentElement.remove('toast')
                        }
                      }) 
                  })
                  .catch(error => {
                      console.error("Đã xảy ra lỗi:", error);
                  }); 
                });
              });
              const select_year= document.getElementById('select_year')
              for(var i =0 ;i<=60 ;i++){
                var option = document.createElement("option");
                if(i<10){
                  option.value = '0'+i;
                  option.text = '0'+i;
                  select_year.appendChild(option);
                }else{
                option.value = i;
                option.text = i;
                select_year.appendChild(option);
                }
                
              }
      
            
      });
      const notification = "{{notifi_search}}";
          console.log("waiting notifi search ")
          console.log(notification)
                  if(notification==='search_success'){
                    toast({
                        title: "Tìm kiếm thành công",
                        content: "bạn vừa thực hiện hành động tìm kiếm thành công",
                        typeicon: "success",
                        duration: 8000
                
                      })
                  }
                  else if (notification==='search_err'){
                    toast({
                        title: "Không tìm thấy kết quả phù hợp",
                        content: "Từ khóa bạn nhập có lẽ không hợp lệ , bạn có thể nhấn vào ? bên ô tìm kiếm để xem thêm thông tin!",
                        typeicon: "error",
                        duration: 8000
                
                    })  
                }
                else if (notification==='sessionfail'){
                  toast({
                      title: "Session Failed",
                      content: "waiting or refresh page",
                      typeicon: "error",
                      duration: 8000
              
                  })  
              }
                const dltoast = document.querySelectorAll('.toast-exit');
                console.log("button_exit: ",dltoast)
                dltoast.forEach(element => {
                  element.onclick = function(){
                    console.log("is click exits")
                    element.parentElement.remove('toast')
                  }
                })        
  </script>
  
  </body>
</html>