{% load static %}
<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/UI_customer.css' %}">
    {% comment %} <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script> {% endcomment %}
    <script src="https://kit.fontawesome.com/0284d1fcc6.js" crossorigin="anonymous"></script>
    <script src="{% static 'JS/style.js' %}"></script>
    <link rel="stylesheet" href="{% static 'CSS/fontawesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'CSS/templatemo-style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/toast_home.css' %}">
    <link
      rel="icon"
      type="image/x-icon"
      href="{% static 'images/logo5.ico' %}"
    />
    <title>Furin</title>
  </head>
  <body>
    <header class="bg-dark">
      <div class="container">
        <nav>
          <div>
            <img class="logo_img" style="width:50px; height:50px;" src="{% static 'images/logo_light.png' %}"></img>
            <a  class="logo">Furin</a>
            <ul class="nav-links">
              <li><a class="nav__hover" href="https://www.facebook.com/ran432001/">Chính sách</a></li>
            </ul>
          </div>
          <div>
            <ul id="nav-links" class="nav-links">
              <li><a class="nav__hover" href="https://www.facebook.com/ran432001/">Facebook</a></li>
              <li><a class="nav__hover" href="{% url 'controller_redirect_regisCustomer'%}">Log in</a></li> 
              <li><a class="nav__noLogin" href="{% url 'controller_redirect_regisCustomer'%}" class="nav__cta">Sign up</a></li>
            </ul>
          </div>
        </nav>
      </div>
    </header>
    <section id="main__cta">
      <div class="container">
        <div class="split">
          <div class="main__cta__rectangle bg-light">
            <div class="split main__cta__options">
              <div class="main__cta__card tab-item active">
                <div class="main__cta__icon">
                  <i class="fa-solid fa-bus" style="font-size:26px; color:#ffa319;"></i>
                </div>
                Đặt xe
              </div>
              <div class="main__cta__card tab-item">
                <i class="fa-regular fa-user" style="font-size:26px; color:#ffa319;"></i>
                Tài xế
              </div>
              <div class="main__cta__card tab-item">
                <i class="fa-solid fa-user" style="font-size:26px;color:#ffa319;"></i>
                Nhà xe
              </div>
              <div class="line"></div>
            </div>
            <div class="main__cta__text active">
              <h1> Đăng nhập Nhà xe </h1>
              <p class="sous-titre">
                Sẳn sàng để vào giao diện quản lý của bạn chưa 
              </p>
              <a href="{% url 'redirectRegister' %}" class="btn">Đăng Nhập</a>
            </div>
            <div class="main__cta__text active">
              <h1>Đăng nhập Tài xế </h1>
              <p class="sous-titre">
                Sẳn sàng để vào giao diện của bạn chưa và bắt đầu với các chuyến đi thú vị
              </p>
              <a href="{% url 'driver_login_view' %}" class="btn">Đăng Nhập</a>
            </div>
            <div class="main__cta__text ">
              <h1>Bạn đã có tài khoản?</h1>
              <p class="sous-titre">
                Hãy đăng nhập vào tài khoản của bạn để bắt đầu chuyến đi cùng chúng tôi
              </p>
              <a href="{% url 'controller_redirect_regisCustomer' %}" class="btn">Đăng Nhập</a>
            </div>
          </div>
          {% comment %} ----------------------------- {% endcomment %}
        </div>
      </div>
    </section>
    <section class="list_schedule_notlogin">
      <div class="block_title_list_schedules">
        <div class="">
          <h2 class="tm-block-title_nologin"> Danh sách chuyến đi </h2>
        </div>
        <div class="block_search_form">
          <div class="tm-bg-primary-dark-block_book_car">
            {% comment %} <h2 class="tm-block-title">Search</h2> {% endcomment %}
            <form method="GET" action="{% url 'search_home' %}" class="search-form">
              <div class="input_book_car">
                  {{ my_filter_form.as_p }}
                  <button type="submit" class="bt_search"><i class="fa fa-search" style="font-size: 20px;
                    color: #ff8276;"></i></button>
              </div>

            </form>
          </div>
        </div>
      </div>

      <div class="col-12 tm-block-col block_info_schedules_nologin">
        <div class="tm-bg-primary-dark tm-block tm-block-taller tm-block-scroll">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Tên_Nhà_Xe</th>
                        <th scope="col">Trạng_Thái_Chỗ </th>
                        <th scope="col">Tên_Tài_Xế</th>
                        <th scope="col">Loại_Phương_Tiện </th>
                        <th scope="col">Số_Lượng_Chỗ</th>
                        <th scope="col">Hình Ảnh</th>
                        <th scope="col">Điểm_Xuất_Phát</th>
                        <th scope="col">Điểm_Kết_Thức</th>
                        <th scope="col">Giờ_Xuất_Phát</th>
                        <th scope="col">Ngày_Xuất_Phát</th>
                    </tr>
                </thead>
                <tbody>
                  {% for schedule in schedules %}
                    <tr>
                        <th scope="row"><b>{{schedule.vehicle.driver.carowner.username}}</b></th>
                        <td>
                          {%if schedule.slot_vehicle == 0 %}
                            <div class="tm-status-circle isfull">
                            </div>Is Full
                          {%else%}
                            <div class="tm-status-circle notfull">
                            </div>Not Full
                          {%endif%}  
                        </td>
                        <td><b>{{schedule.vehicle.name_driver}}</b></td>
                        <td><b>{{schedule.vehicle.type_vehicle}}</b></td>
                        <td><b>{{schedule.slot_vehicle}}</b></td>
                        <td><img style="border-radius:3px;" class="list_img_vehicle" data-img-vehilce="{{ schedule.vehicle.img_vehicle.url }}" src="{{schedule.vehicle.img_vehicle.url}}"></td>
                        <td><b>{{schedule.start_location}}</b></td>
                        <td><b>{{schedule.end_location}}</b></td>
                        <td>{{schedule.start_time}}</td>
                        <td>{{schedule.start_date}}</td>
                        {%if request.customer%}
                        <td><button class="bt_book_car"><a href="{% url 'home_customer_view' %}"> Đặt</a></button></td>
                        {%else%}
                        <td><button class="bt_book_car"><a href="{% url 'controller_redirect_regisCustomer' %}"> Đặt</a></button></td>
                        {%endif%}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    </section>
    <section id="business-header">
      <div class="container">
        <div class="business-header__text resetcolor">
          <h3>Furin bên bạn trong những chuyến đi</h3>
          <p>
           Tôi tìm thấy mình trong những chuyến đi,
           cảm giác đó không thể nào thay thế được bởi những thứ khác.
           Lý do chính kéo tôi vào cuộc hành trình , chỉ đơn giản là những
           khung hình trong đôi mắt mình thay đổi khi những con đường lướt qua
          </p>
        </div>
      </div>
    </section>

    <section data-aos="zoom-in" id="engagements__section" class="bg-light">
      <div class="container">
        <div class="nav_container_title text-cta">
          <img class="text-cta" width="64" height="64" src="https://img.icons8.com/nolan/64/1A6DFF/C822FF/beach-umbrella--v1.png" alt="beach-umbrella--v1"/>
            <h3> Tập trung vào sự an toàn mọi lúc mọi nơi</h3>
        </div>
        <div class="split home__conten">
          
          <div class="engagements__section__flex Titlecolor1 text-cta">
            <img
              src="{%static 'images/bg27.jpg'%}"
              alt=""
            />
            <h4>Cam kết của chúng tôi đối với sự an toàn của bạn</h4>
            <p class="sous-titre__home__conten">
              Yên thảo như bích ty,
              Tần tang đê lục chi.
              Đương quân hoài quy nhật,
              Thị thiếp đoạn trường thì.
              Xuân phong bất tương thức,
              Hà sự nhập la vi?
            </p>
            <div class="Home__conten__footer">
              <a href="#" class=" home__conten"
              ><i class="fa-solid fa-book-open"></i> Khám phá điều lệ </a
            >
            <a href="#" class=" footer"
              ><i class="fa-solid fa-angles-right"></i> xem thêm tính năng bảo mật</a
            >
            </div>
          </div>
          <div class="engagements__section__flex Titlecolor2 text-cta">
            <img
               src="{%static 'images/bg19.jpg'%}"
              alt=""
            />
            <h4>Tầm phủ rộng trong khắp mọi thành phố</h4>
            <p class="sous-titre__home__conten">
              Yên Chi hoàng diệp lạc,
              Thiếp vọng tự đăng đài.
              Hải thượng bích vân đoạn,
              Thiền Vu thu sắc lai.
              Hồ binh sa tái hợp,
              Hán sứ Ngọc Quan hồi.
              Chinh khách vô quy nhật,
              Không bi huệ thảo tồi.
            </p>
            <div class="Home__conten__footer">
              <a href="#" class="style_margin_bottom"><i class="fa-solid fa-book-open"></i> Khám phá điều lệ </a>
            <a href="#" class="footer"
              ><i class="fa-solid fa-angles-right "></i> xem thêm tính năng bảo mật</a
            >
            </div>
          </div>
        </div>
      </div>
    </section>

    <section data-aos="fade-up" id="infos__section" class="bg-light">
      <div class="container">
        <div class="split">
          <div class="infos__section__card">
            <img
              src="https://www.uber-assets.com/image/upload/q_auto:eco,c_fill,w_24,h_24/v1542256135/assets/dd/c53d7b-8921-4dc7-93f4-45fb59f4ffb9/original/person-multiple-outlined.svg"
              alt=""
            />
            <p class="titre">ý tưởng của chúng tôi </p>
            <p class="sous-titre">
              tôi sẻ cho bạn biết nguồn động lực và ý tưởng để chúng tôi làm ra website này. 

            </p>
            <p class="text-cta">Tìm hiểu thêm</p>
          </div>
          <div class="infos__section__card">
            <img
              src="https://www.uber-assets.com/image/upload/q_auto:eco,c_fill,w_24,h_24/v1542254244/assets/eb/68c631-5041-4eeb-9114-80048a326782/original/document-outlined.svg"
              alt=""
            />
            <p class="titre">Trang xã hội của chúng tôi </p>
            <p class="sous-titre">
              Nơi chúng tôi chia sẻ những thông tin những câu chuyện về những chuyến đi của chúng tôi
            </p>
            <p class="text-cta">Tìm hiểu thêm</p>
          </div>
          <div class="infos__section__card">
            <img
              src="https://www.uber-assets.com/image/upload/q_auto:eco,c_fill,w_24,h_24/v1542255370/assets/64/58118a-0ece-4f80-93ee-8041b53593d5/original/home-outlined.svg"
              alt=""
            />
            <p class="titre">Ý tưởng phát triển </p>
            <p class="sous-titre">
              Chúng tôi sẻ cho bạn biết dự định của bản thân ý tưởng phát triển trong tương lai.
            </p>
            <a class="text-cta">Tìm hiểu thêm</a>
          </div>
        </div>
      </div>
    </section>

    <footer class="bg-dark">
      <div class="container">
        <nav>
          <div><a class="logo">Furin</a></div>
          <div>
            <p>Sẳn sàng đồng hành cùng bạn trong mọi chuyến đi</p>
          </div>
        </nav>
      </div>
    </footer>
    <div class ="display_img_click">
      <img class="display_img_item">
      <span class="display_img_button_exit">✘</span>
    </div>
    <div id="tagtoast">
    </div>
    <script src="{% static 'JS/book.js' %}"></script>
    <script src="{% static 'JS/toast_customer_form.js' %}"></script>
    <script>

      document.addEventListener("DOMContentLoaded", function () {

        const container = document.querySelector('.container')

        list_img_vehicle = document.querySelectorAll('.list_img_vehicle')
        console.log("list img",list_img_vehicle)
        list_img_vehicle.forEach(imglist => {
          imglist.addEventListener("click", function () {
            const display_img_click = document.querySelector('.display_img_click')
            const img_get = this.getAttribute('data-img-vehilce')
            const img_item = document.querySelector('.display_img_item')
            const img_bt_exit = document.querySelector('.display_img_button_exit')
            console.log("get_img :",img_get)
            display_img_click.style.display = 'block'
            img_item.src = img_get;
            console.log("background black: ",container)
            container.classList.add("show");
            img_bt_exit.onclick= function(){
              display_img_click.style.display = 'none'
              container.classList.remove("show");
            }
            
          })
        })


      })
      const notification = "{{notifi_search}}";
          console.log("waiting notifi search ")
          console.log(notification)
                  if(notification==='search_success'){
                    toast({
                        title: "Found Results",
                        content: "you just performed a search action",
                        typeicon: "success",
                        duration: 8000
                
                      })
                      const targetElement = document.querySelector('.list_schedule_notlogin');
                      if (targetElement) {
                        targetElement.scrollIntoView();
                        window.scrollBy(0, -68);
                      }
                  }
                  else if (notification==='search_err'){
                    toast({
                        title: "Not Found",
                        content: "The keyword you entered was not found, or you may have entered the wrong format of the keyword",
                        typeicon: "error",
                        duration: 8000
                
                    })  
                }
                else if (notification==='sessionfail'){
                  toast({
                      title: "Session Failed",
                      content: "waiting or refresh page",
                      typeicon: "error",
                      duration: 8000
              
                  })  
              }
                const dltoast = document.querySelectorAll('.toast-exit');
                console.log("button_exit: ",dltoast)
                dltoast.forEach(element => {
                  element.onclick = function(){
                    console.log("is click exits")
                    element.parentElement.remove('toast')
                  }
                })        

    </script>
  </body>
</html>