{% load static %}
<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/UI_customer.css' %}">
    {% comment %} <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script> {% endcomment %}
    <script src="https://kit.fontawesome.com/0284d1fcc6.js" crossorigin="anonymous"></script>
    <script src="{% static 'JS/style.js' %}"></script>
    <link rel="stylesheet" href="{% static 'CSS/fontawesome.min.css' %}">

    <link rel="stylesheet" href="{% static 'CSS/templatemo-style.css' %}">
    <link
      rel="icon"
      type="image/x-icon"
      href="{% static 'images/logo5.ico' %}"
    />
    <title>Furin</title>
  </head>
  <body>
    <header class="bg-dark">
      <div class="container">
        <nav>
          <div>
            <img class="logo_img" style="width:50px; height:50px;" src="{% static 'images/logo_light.png' %}"></img>
            <a href="#" class="logo">Furin</a>
            <ul class="nav-links">
              <li><a class="nav__hover" href="#">About Us</a></li>
              <li><a class="nav__hover" href="#">Contact</a></li>
            </ul>
          </div>
          <div>
            <ul id="nav-links" class="nav-links">
              <li><a class="nav__hover" href="https://www.facebook.com/ran432001/">Facebook</a></li>
              {% comment %} {% if request.customer %}
              <li>
                <div class="nav__cta__info--has-menu">
                  <div class="nav__cta__info">
                    <p class="nav__cta">{{request.customer.name_customer}}</p>
                    <p class="nav__mores"><i class="fa-solid fa-caret-down" style="color: #ff4405;"></i></p>
                  </div>
                  <div class="nav__cta__menu">
                    <ul class="nav__cta__list">
                      <li class="nav__cta__item">
                        <a href="{% url 'handle_logout' %}" class="nav__cta__link">
                          <i class="fa-solid fa-arrow-right-from-bracket" style="color: #ff4000;"></i>
                          <div class="nav__cta__function">
                              <span class="nav__cta__functionname">Logout</span>
                          </div>
                        </a>
                      </li>
                      <li class="nav__cta__item">
                        <a href="" class="nav__cta__link">
                          <i class="fa-solid fa-arrow-right-from-bracket" style="color: #ff4000;"></i>
                          <div class="nav__cta__function">
                              <span class="nav__cta__functionname">function </span>
                          </div>
                        </a>
                      </li>
                      <li class="nav__cta__item">
                        <a href="" class="nav__cta__link">
                          <i class="fa-solid fa-arrow-right-from-bracket" style="color: #ff4000;"></i>
                          <div class="nav__cta__function">
                              <span class="nav__cta__functionname">function</span>
                          </div>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </li>
              {% else %} {% endcomment %}
              <li><a class="nav__hover" href="{% url 'controller_redirect_regisCustomer'%}">Log in</a></li> 
              <li><a class="nav__noLogin" href="{% url 'controller_redirect_regisCustomer'%}" class="nav__cta">Sign up</a></li>
              {% comment %} {% endif %} {% endcomment %}
            </ul>
          </div>
          <div class="hamburger">
            <span class="hamburger-bar"></span
            ><span class="hamburger-bar"></span>
            <span class="hamburger-bar"></span>
          </div>
        </nav>
      </div>
    </header>
    <section id="main__cta">
      <div class="container">
        <div class="split">
          <div class="main__cta__rectangle bg-light">
            <div class="split main__cta__options">
              <div class="main__cta__card tab-item active">
                <div class="main__cta__icon">
                  <i class="fa-solid fa-bus" style="font-size:26px; color:#ffa319;"></i>
                </div>
                Book a car
              </div>
              <div class="main__cta__card tab-item">
                <i class="fa-regular fa-user" style="font-size:26px; color:#ffa319;"></i>
                Driver
              </div>
              <div class="main__cta__card tab-item">
                <i class="fa-solid fa-user" style="font-size:26px;color:#ffa319;"></i>
                CarOwner
              </div>
              <div class="line"></div>
            </div>
            <div class="main__cta__text active">
              <h1> Đăng nhập Nhà xe </h1>
              <p class="sous-titre">
                Sẳn sàng để vào giao diện quản lý của bạn chưa 
              </p>
              <a href="{% url 'redirectRegister' %}" class="btn">Sign up</a>
              <a href="#" class="" 
              >
            </div>
            <div class="main__cta__text active">
              <h1>Đăng nhập Driver </h1>
              <p class="sous-titre">
                Chúng tôi sẳn sàng để đi cùng bạn 
              </p>
              <a href="{% url 'driver_login_view' %}" class="btn">Sign up</a>
              <a href="#" class="" 
              >
            </div>
            <div class="main__cta__text ">
              <h1>Đăng ký khách hàng </h1>
              <p class="sous-titre">
                Chúng tôi sẳn sàng để đi cùng bạn
              </p>
              <a href="{% url 'controller_redirect_regisCustomer' %}" class="btn">Sign up</a>
              <a href="#" class="" 
              >
            </div>
          </div>
          {% comment %} ----------------------------- {% endcomment %}
        </div>
      </div>
    </section>
    <section id="business-header">
      <div class="container">
        <div class="business-header__text resetcolor">
          <h3>Furin bên bạn trong những chuyến đi</h3>
          <p>
           Tôi tìm thấy mình trong những chuyến đi,
           cảm giác đó không thể nào thay thế được bởi những thứ khác.
           Lý do chính kéo tôi vào cuộc hành trình , chỉ đơn giản là những
           khung hình trong đôi mắt mình thay đổi khi những con đường lướt qua
          </p>
          {% comment %} <a href="#" class="btn">Bắt đầu đặt</a> {% endcomment %}
        </div>
      </div>
    </section>

    <section data-aos="zoom-in" id="engagements__section" class="bg-light">
      <div class="container">
        <div class="nav_container_title text-cta">
          <img class="text-cta" width="64" height="64" src="https://img.icons8.com/nolan/64/1A6DFF/C822FF/beach-umbrella--v1.png" alt="beach-umbrella--v1"/>
            <h3> Tập trung vào sự an toàn mọi lúc mọi nơi</h3>
        </div>
        <div class="split home__conten">
          
          <div class="engagements__section__flex Titlecolor1 text-cta">
            <img
              src="{%static 'images/bg27.jpg'%}"
              alt=""
            />
            <h4>Cam kết của chúng tôi đối với sự an toàn của bạn</h4>
            <p class="sous-titre__home__conten">
              Yên thảo như bích ty,
              Tần tang đê lục chi.
              Đương quân hoài quy nhật,
              Thị thiếp đoạn trường thì.
              Xuân phong bất tương thức,
              Hà sự nhập la vi?
            </p>
            <div class="Home__conten__footer">
              <a href="#" class=" home__conten"
              ><i class="fa-solid fa-book-open"></i> Khám phá điều lệ </a
            >
            <a href="#" class=" footer"
              ><i class="fa-solid fa-angles-right"></i> xem thêm tính năng bảo mật</a
            >
            </div>
          </div>
          <div class="engagements__section__flex Titlecolor2 text-cta">
            <img
               src="{%static 'images/bg19.jpg'%}"
              alt=""
            />
            <h4>Tầm phủ rộng trong khắp mọi thành phố</h4>
            <p class="sous-titre__home__conten">
              Yên Chi hoàng diệp lạc,
              Thiếp vọng tự đăng đài.
              Hải thượng bích vân đoạn,
              Thiền Vu thu sắc lai.
              Hồ binh sa tái hợp,
              Hán sứ Ngọc Quan hồi.
              Chinh khách vô quy nhật,
              Không bi huệ thảo tồi.
            </p>
            <div class="Home__conten__footer">
              <a href="#" class=""
              ><i class="fa-solid fa-book-open"></i> Khám phá điều lệ </a
            >
            <a href="#" class="footer"
              ><i class="fa-solid fa-angles-right"></i> xem thêm tính năng bảo mật</a
            >
            </div>
          </div>
        </div>
      </div>
    </section>

    <section data-aos="fade-up" id="infos__section" class="bg-light">
      <div class="container">
        <div class="split">
          <div class="infos__section__card">
            <img
              src="https://www.uber-assets.com/image/upload/q_auto:eco,c_fill,w_24,h_24/v1542256135/assets/dd/c53d7b-8921-4dc7-93f4-45fb59f4ffb9/original/person-multiple-outlined.svg"
              alt=""
            />
            <p class="titre">ý tưởng của chúng tôi </p>
            <p class="sous-titre">
              tôi sẻ cho bạn biết nguồn động lực và ý tưởng để chúng tôi làm ra website này. 

            </p>
            <a href="#" class="text-cta">Tìm hiểu thêm</a>
          </div>
          <div class="infos__section__card">
            <img
              src="https://www.uber-assets.com/image/upload/q_auto:eco,c_fill,w_24,h_24/v1542254244/assets/eb/68c631-5041-4eeb-9114-80048a326782/original/document-outlined.svg"
              alt=""
            />
            <p class="titre">Trang xã hội của chúng tôi </p>
            <p class="sous-titre">
              Nơi chúng tôi chia sẻ những thông tin những câu chuyện về những chuyến đi của chúng tôi
            </p>
            <a href="#" class="text-cta">Tìm hiểu thêm</a>
          </div>
          <div class="infos__section__card">
            <img
              src="https://www.uber-assets.com/image/upload/q_auto:eco,c_fill,w_24,h_24/v1542255370/assets/64/58118a-0ece-4f80-93ee-8041b53593d5/original/home-outlined.svg"
              alt=""
            />
            <p class="titre">Ý tưởng phát triển </p>
            <p class="sous-titre">
              Chúng tôi sẻ cho bạn biết dự định của bản thân ý tưởng phát triển trong tương lai.
            </p>
            <a href="#" class="text-cta">Tìm hiểu thêm</a>
          </div>
        </div>
      </div>
    </section>

    <footer class="bg-dark">
      <div class="container">
        <nav>
          <div><a href="#" class="logo">Furin</a></div>
          <div>
            <a href="#">Sẳn sàng đồng hành cùng bạn trong mọi chuyến đi</a>
          </div>
        </nav>
      </div>
    </footer>
    <script src="{% static 'JS/book.js' %}"></script>
    <script>
      AOS.init();
    </script>
  </body>
</html>