body{
    margin-top:20px;
    color: #1a202c;
    text-align: left;
    background-color: #e2e8f0;    
}
.main-body {
    padding: 15px;
}
.card {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
}

.gutters-sm {
    margin-right: -8px;
    margin-left: -8px;
}

.gutters-sm>.col, .gutters-sm>[class*=col-] {
    padding-right: 8px;
    padding-left: 8px;
}
.mb-3, .my-3 {
    margin-bottom: 1rem!important;
}

.bg-gray-300 {
    background-color: #e2e8f0;
}
.h-100 {
    height: 100%!important;
}
.shadow-none {
    box-shadow: none!important;
}
.avatar{
    width: 153px;
    height: 153px;
    position: relative;
}
.avatar img{
    width: 93%;
    height: 93%;
    overflow: clip;
}
.avatar::before,
.avatar::after{
    -webkit-animation: clipMe 10s linear infinite;
    animation: clipMe 8s linear infinite;
    border: rgb(0 188 255) solid 8px;
    border-radius: 9999px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    content: ' ';
    height: 220px;
    left: -33px;
    opacity: 0.6;
    position: absolute;
    top: -39px;
    -webkit-transform: scale(0.714);
    transform: scale(0.714);
    width: 220px;
}
.avatar::before{
  animation-delay: -5s;
}
@keyframes clipMe {
  0%, 100% {
    clip: rect(0px, 220px, 2px, 0px);
  }
  25% {
    clip: rect(0px, 2px, 220px, 0px);
  }
  50% {
    clip: rect(218px, 220px, 220px, 0px);
  }
  75% {
    clip: rect(0px, 220px, 220px, 218px);
  }
}
.bt_update_img{
    font-weight: 500;
    color: #fff;
    width: 84px;
    height: 32px;
    background: #254e87;
    border-radius: 6px;
    border-left: 2px solid #ffaa40;
    border-bottom: 2px solid #e9a986;
    border-top: 1px solid #e9a986;
    border-right: 1px solid #e9a986;
}
.bt_primary{
    font-weight: 500;
    color: #fff;
    background: #254e87;
    border-radius: 6px;
    border-left: 2px solid #ffaa40;
    border-bottom: 2px solid #e9a986;
    border-top: 1px solid #e9a986;
    border-right: 1px solid #e9a986;
}
.custom_image_upload{
    margin-top: 8px;
    outline: 1px solid #61b7e0;
    color: #8e8e8e;
}
.btn-save_edit{
    width: 152px;
    height: 37px;
}