:root {
    --clr-neutral-900: #000;
    --clr-neutral-100: #fff;
  }
  
  /* RESET CSS */
  
  *,
  *::after,
  *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  img {
    max-width: 100%;
  }
  a {
    font: inherit;
    color: inherit;
    text-decoration: none;
  }
  ul {
    list-style-type: none;
  }
  
  html {
    font-family: Uber Move, Uber Move Text, system-ui, "Helvetica Neue", Helvetica,
      Arial, sans-serif;
  }
  
  ::selection {
    background: var(--clr-neutral-900);
    color: var(--clr-neutral-100);
  }
  
  h2,
  h3,
  h4 {
    color: #333;
  }
  
  /*  UTILITY CLASSES */
  
  .bg-light {
    background: var(--clr-neutral-100);
    color: var(--clr-neutral-900);
  }
  .bg-dark {
    background: var(--clr-neutral-900);
    color: var(--clr-neutral-100);
  }
  
  .container {
    margin-inline: auto;
    width: min(90%, 70.5rem);
  }
  
  .split {
    display: flex;
    flex-direction: column;
  }
  
  @media (min-width: 40em) {
    .split {
      flex-direction: row;
      gap: 2em;
    }
    .split > * {
      flex-basis: 100%;
    }
  }
  
  .btn {
    padding: 1rem 1.5rem;
    display: inline-block;
    background: #2f2a50;
    color: var(--clr-neutral-100);
    border-radius: 10px;
    font-weight: 500;
    line-height: 1;
    transition: opacity 300ms ease;
    margin: 10px;
  }
  .btn:hover {
    opacity: 0.8;
  }
  /* HEADER */
  
  header {
    padding-block: 1.5rem;
    border-bottom: 1px solid 1px solid rgb(255 215 228 / 65%);
  }
  
  header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  header nav a {
    font-weight: 500;
    padding: 0.75rem 1rem;
    /* border-radius: 30px; */
    transition: all 300ms ease;
  }
  .nav__hover:hover {
    border-radius: 30px;
    background: #333;
  }
  .nav-links{
    width: auto;
  }
  .nav-links,
  header nav div{
    display: flex;
    align-items: center;
  }
  .nav_header_nav_links{
    display: flex;
    align-items: center;
  }
  .logo_img{
    width: 30px;
    height: 30px;
  }
  .logo {
    font-size: 1.5rem;
  }
  .nav__cta__info{
    background: var(--clr-neutral-100);
    color: var(--clr-neutral-900);
    border-radius: 30px;
    padding: 0.75rem 1rem;
  }
.nav__cta__info--has-menu:hover .nav__cta__menu {
  display: block;
}
.nav__cta__info--has-menu:hover .rotate_iconnext_login {
  transform: rotate(270deg);
}
  .nav__mores{
    margin-left: 8px;
    margin-right: 5px;
  }
  .tm-notification-items{

  }
  .block__content__history{
    display: block;
    margin: 10px;
  }
  .block_info_img{
    width: 63px;
    height: 63px;
  }
  .active_info_history .block_destroy_order{
    display: block;
  }
  .block_info_history{
    display: flex;
    margin: 8px;
    justify-content: space-between;
    border: 2px solid #32c2ffde;
    border-radius: 4px;
  }
  .bt_destroy_book{
    font-weight: 600;
    border-radius: 11px;
    width: 76px;
    color: #fff;
    height: 31px;
    background: #ffbc80d6;
    border: 1px solid #ff6442;
    margin: 10px;
  }
  .content_history_book{
    display: flex;
  }
  .content_history_book p{
    font-size: 13px;
    padding: 0 5px;
  }
  .content_history_book a{
    font-size: 13px;
  }

  .tm-history-items{
    display: block;
    
  }
  .nav__cta__info--has-menu--book_car::after{
    content: "";
    display: block;
    position: absolute;
    width: 377px;
    height: 50px;
    right: 247px;
    top: 57px;
    /* background-color: #32c2ff; */
  }
  .title_new{
    margin-right: 3px;
  }
  .title_new span{
    display: none;
    color: #ff6721;
    font-size: 16px;
    font-weight: 500;
  }
  .title_new_active .title_new span{
    display: block;
  }
  /* .nav__cta__info--has-menu--book_car:hover .nav__cta__menu_history_book{
    display: block;

  } */


  .nav__cta__menu_history_book{
    display: none;
    position: absolute;
    top: 99px;
    right:247px;
    width: 569px;
    max-height: 367px;
    background-color: rgb(24 21 38 / 80%);
    border-radius: 2px;
    transform-origin: 60% top;
    box-shadow: 1px 1px 5px 0 #4d6d89;
    animation: navMenuFunction ease-in 0.26s;
    overflow-y: scroll;
    scroll-behavior: smooth;
  }
  .nav__cta__menu_history_book::before{
    content: "";
    display: block;
    position: absolute;
    width: 566px;
    height: 50px;
    right: 0;
    top: -43px;
    background-color: #2f2a50;
  }
  /* .nav__cta:hover {
    background: var(--clr-neutral-100);
  } */
   /* menu user */
   .nav__cta__menu{
    display: none;
    position: absolute;
    top: 99px;
    right:0;
    width: 300px;
    width: 300px;
    background-color: rgb(23 21 35 / 88%);
    z-index: 99;
    border-radius: 2px;
    transform-origin: 60% top;
    animation: navMenuFunction ease-in 0.26s;
    /* border: 1px solid #fff; */

   }
   .nav__cta__menu::before{
    content: "";
    display: block;
    position: absolute;
    width: 300px;
    height: 44px;
    right: 0;
    top: -32px;
    /* background-color: #32c2ff; */

   }
   @keyframes navMenuFunction{
    from {
      opacity: 0;
      transform: scale(0);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
   }
.nav__cta__list{
 padding-left: 0;
}
.nav__cta__item:hover .nav__cta__link{
  background-color: rgba(59, 60, 92, 0.5);
}
.nav__cta__item:hover .nav__cta__functionname{
  color: #fff;
}
.nav__cta__link{
  display:flex;
  width: 154px;
  align-items: center;
  margin: auto;
  background-color: #ffffff;
  border-bottom: 1px solid #d3d3d3;
  border-radius: 15px;
  margin-top: 18px;
  margin-bottom: 18px;
}
.nav__cta__function{
  margin-left: 8px;
}
.nav__cta__functionname{
  color: #232323;
  font-size: 14px;
}
.nav__noLogin{
  background: var(--clr-neutral-100);
  color: var(--clr-neutral-900);
  border-radius: 30px;
  padding: 0.75rem 1rem;
}
  .hamburger {
    cursor: pointer;
    display: none;
  }
  
  .hamburger-bar {
    display: block;
    margin-top: 5px;
    width: 25px;
    height: 3px;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
  }
  
  @media (max-width: 50rem) {
    .hamburger {
      display: block;
    }
  
    .hamburger.active .hamburger-bar:nth-child(2) {
      opacity: 0;
    }
    .hamburger.active .hamburger-bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .hamburger-bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    }
  
    .nav-links {
      position: fixed;
      left: 0;
      top: -100%;
      gap: 0;
      flex-direction: column;
      background: var(--clr-neutral-900);
      width: 100vw;
      text-align: center;
      transition: 0.3s ease;
    }
    .nav-links.active {
      top: 70px;
    }
    .nav-links.active:first-child {
      top: 220px;
    }
  
    header nav ul li {
      margin: 1rem 0;
    }
  }
  .input-group-addon{
    position: relative;
  }
  section#main__cta_customer{
 
    padding-top: 15px;
    padding-bottom: 30px;
    background-image: url("../images/bg26.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 578px;
    border-bottom: 2px solid #eeeeee;
  }
  .tm-bg-primary-dark-block_book_car{
    width: 400px;
    min-height: 14px;

  }

  

  .question_mark--icon{
    width: 20px;
    height: 20px;
    margin-left: 5px;
    margin-bottom: 8px;
  }
  .search_policy{
    display: none;
    position: fixed;
    right: 25%;
    top: 119px;
    z-index: 999;
    transform-origin: 50% top;
    animation:hiddenSmooth ease 0.26s;
  }
  .img_search_policy{
    border-radius: 3px;
  }





  .block_history_book_car{
    display: block;
    width: 96.8%;
    margin-left: 11px;
  }
  .group_input{
    margin: 8px;
  }
  .container::before{
    
    content: "";
    position: fixed;
    width: 100%;
    height: 100%;
    right: 0;
    top: 0;
    background-color: rgba(27, 27, 27, 65%);
    display: none;
    z-index: 99;
  }
  .container.show::before{
    display: block;
  }

  .display_img_click{
    display: none;
    position: fixed;
    width: 667px;
    height: 400px;
    right: 25%;
    top: 134px;
    border-radius: 8px;
    background-color: #fff;
  }
  .display_img_click img {
    border-radius: 6px;
    border: 2px solid #4a4d6c;
    overflow: hidden;
    width: 100%;
    height: 100%;
    box-shadow: 1px 1px 5px 0 #1b1744;
  }
  .display_img_button_exit{
    position: fixed;
    width: 31px;
    height: 31px;
    padding: 0px 5px 38px 5px;
    top: 148px;
    right: 348px;
    color: #efff69;
    font-size: 26px;
    cursor: pointer;
    background-color: #00000073;
    border-radius: 5px;
  }
  /* --------------------invoice--------------------------- */
  .invoice_block_book{
    display: none;
    position: fixed;
    width: 500px;
    height: 500px;
    right: 33%;
    top:71px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 1px 1px 5px #38437d;
    z-index: 999;
  }
  .nav_invoice{
    padding:15px;
    display: flex;
    width: 100%;
    height: 80px;
    border-radius: 8px 8px 0 0;
    background-color: rgb(236, 236, 236);
    justify-content: space-between;
    align-items: center;
  }
  .invoice_logo{
    display: flex;
    align-items: center;
  }
  .invoice_logo a {
    color: rgb(80 80 80);
    font-weight: 600;
  }
  .incoive_logo_img{

  }
  .span_iconoutbook{
    width: 30px;
    height: 30px;
    font-size: 26px;
    color:rgb(255 86 39);
    cursor: pointer;
  }
  .invoice_conten_right a {
    color: rgb(0, 0, 0);
    font-weight: 500;
  }
  .invoice_container{
    width: 100%;
    height: 70%;
  }
  .invoice_container_conten{
    width: 100%;
    height: auto;
  }
  .invoice_container_title{
    padding: 18px;
    margin-top: 10px;
  }
  .invoice_container_title p{
    font-size: 18px;
    font-weight: 600;
    color:#2d2156e8;
  }
  .invoice_info_book-title{
    margin-right: 10px;
  }
  .invoice_info_book{
    display: flex;
    margin: 19px 19px 19px 37px;
    font-size: 15px;
    font-weight: 550;
    padding: 6px;
    color: #5e5e5e;
    border-bottom: 1px solid #f84d2e;
    border-left: 4px solid #f84d2e;
  }
  .invoice_info_book p{
    font-size: 12px;
  }
  .invoice_footer{
  }
  .invoice_bt{
    width: 98px;
    height: 35px;
    right: 20%;
    border-radius: 13px;
    border: none;
    margin-left: 70%;
    margin-top: 3%;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    background-color: #ff9b69;
    border: 1.8px solid #ff5009;
  }
  .input_quantity{
    border: 1px solid #334a64;
    width: 50px;
    height: 23px;
    padding-left: 5px;
    font-weight: 600;
    border-radius: 3px;
    color: #345967;
  }
  .input_book_car{
    position: relative;
  }
  .block_input_search{
    width: 200px;
  }
  .block_search_form{
    margin-left: 0;
  }




  .custom-css-class{
    outline: 1px solid #403755;
    height: 33px;
    width: 231px;
    min-width: 220px;
    min-height: 30px;
    padding-left: 10px;
    transition: all 0.3s;
    border: none;
    border-radius: 10px;
    -webkit-box-shadow: 1px 1px 5px 0 #455c71;
    -moz-box-shadow: 1px 1px 5px 0 #455c71;
    box-shadow: 1px 1px 5px 0 #455c71;
  }
  .group_bt{

    top: 15%;
    right: 13px; 
    transform: translateY(-50%);
    pointer-events: none; 
    z-index: 99;
  }
  .input_book_car label{
    font-size: 15px;
    font-weight: 600;
    color: #f6f6f6;
  }
  .container_customer input{
    display: block;
    outline: 1px solid #32c2ff;
    padding-left: 10px;
    width: 260px;
    height: 36px;
    border-radius: 10px;
    color: #3b3b3b;
    transition: all 0.3s;
    margin: 0 auto -1px;
    border: none;
  }
  #pickup__location{
   
  }
  .bt_search{
    top: -137%;
    right: 25px;
    position: absolute;
    width: 34px;
    height: 35px;
    border: none;
    border-radius: 16px;
    margin: 46px 0 20px 182px;
    background: none;
  }
  .bt_book_car{
    width: 75px;
    height: 30px;
    border-radius: 14px;
    background-color: #ff6b4b;
    border: 1.5px solid rgb(255 150 105);
  }
  .main__cta__rectangle_form2{
    flex-direction: column;
    position: absolute;
  }
  .main__cta__rectangle {
    /* display: none; */
    flex-direction: column;
    position: absolute;
    left: 680px;
  }
  .main__cta__options {
    padding: 1rem;
    border-bottom: 1px solid #eee;
    background: #dcdada;
  }
  .main__cta__card.active .line{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 6px;
    border-radius: 15px;
    background-color: #c23564;
    transition: all 0.2s ease;
  }
  .tab-item:hover {
    opacity: 1;
    background-color: rgba(251, 212, 226, 0.05);
}
.tab-item {
  min-width: 80px;
  padding: 16px 20px 11px 20px;
  font-size: 20px;
  text-align: center;
  color: #271f1f;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: 5px solid transparent;
  opacity: 0.6;
  cursor: pointer;
  transition: all 0.5s ease;
}
.tab-item.active {
    opacity: 1;
}
  .split.main__cta__options{
    position: relative;
  }
  .split.main__cta__options .line{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 6px;
    border-radius: 15px;
    background-color: #c23564;
    transition: all 0.2s ease;
  }
  .main__cta__card {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    font-size: 0.9rem;
    text-align: center;
    font-weight: 500;
  }
  .main__cta__text{
    background: linear-gradient(to left, rgb(255 152 136) 10%, rgba(0, 0, 0, 0) 100%);
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 524.14px;
  }
  @keyframes fade {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      display: none;
    }
  }
  .text_cta_nhaxe{
    color:#FF1365;
  }
  .main__cta__icon{
    
  }
  .main__cta__text.active{
    opacity: 1;
    transition: opacity 8s ease;
    display: none;
  }
  .main__cta__text h1 {
    font-size: 30px;
    font-weight: 700;
    line-height: 1.3;
    margin: 1px;
  }
  .sous-titre {
    opacity: 0.8;
    margin: 10px;
  }
  .text-cta {
    opacity: 0.8;
  }
  /* .text-cta::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #000;
    top: 5px;
    left: 0;
    position: relative;
  } */
  
  /* BUSINESS HEADER */
  
  section#business-header {
    background-image: url(../images/bg24.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.9;
    padding-block: 4rem;
  }
  .business-header__text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
  }
  .business-header__text h3 {
    font-size: 2.5rem;
  }
  .business-header__text p {
    color: #fff;
    padding-left: 581px;
    font-size: 1.1rem;
    font-weight: 600;
    padding-bottom: 1rem;
    font-family: cursive;
    opacity: 100%;
  }
  .business-header__text.resetcolor{
    color:#0c0c0c;
  }
  .business-header__text.resetcolor h3{
    color: #ffffff;
    font-family: cursive;
  }
  .engagements__section__flex img{
    width: 100%;
    height: 260px;
    border-radius: 3px;
  }
  .engagements__section__flex.Titlecolor1 h4{
    color: #8b133b;
  }
  .engagements__section__flex.Titlecolor2 h4{
    color: #ffffff;
  }
  .engagements__section__flex.Titlecolor2 p{
    padding-top: 9px;
    font-family: cursive;
    color: #ffffff;
  }
  .engagements__section__flex.Titlecolor1 p{
    padding-top: 9px;
  }
  .Home__conten__footer{
    display: flex;
    flex-direction: column-reverse;
    color: #fff;
  }
  .sous-titre__home__conten{
    width: 100%;
    height: 160px;
  }
  .text-cta.footer{
    margin-bottom: 6px;
  }
  .split.home__conten{
    margin-left: 80px;
    /* border-left: 2px dotted #191919; */
  }
  /* engagements SECTION */
  
  section#engagements__section {
    padding-block: 1rem;
    background-color: #101339;
  }
  .engagements__section__flex.Titlecolor1 h4 {
    color: #ffffff;
  }
  #engagements__section h3 {
    color: #ffffff;
    padding-left: 10px;
    /* padding-bottom: 1rem; */
    font-size: 1.8rem;
    font-family: cursive;
  }
  #engagements__section h4 {
    font-size: 1.3rem;
    font-family: cursive;
    font-weight: 600;
  }
  
  .engagements__section__flex {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }
  .nav_container_title {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}
.engagements__section__flex.Titlecolor1 p {
  padding-top: 9px;
  font-family: cursive;
  color: #fff;
}
  
  /* INFOS SECTION */
  
  section#infos__section {
    padding-block: 4rem;
  }
  .titre {
    font-weight: 500;
    font-size: 1.2rem;
  }
  .infos__section__card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }
  .infos__section__card .sous-titre {
    padding-bottom: 1rem;
  }
  
  /* APPLICATIONS SECTION */
  
  section#applications__section {
    padding-block: 4rem;
    overflow: hidden;
  
    background: #f1f1f1;
    color: var(--clr-neutral-900);
  }
  section#applications__section h3 {
    padding-bottom: 3rem;
    font-size: 2.5rem;
  }
  .app__card {
    padding: 1.5rem;
    display: flex;
    align-items: center;
    background: var(--clr-neutral-100);
    border: 1px solid hsla(0, 0%, 0%, 0.12);
  }
  .app__card span {
    padding: 2.5rem 1.5rem;
    font-size: 3rem;
    font-weight: 600;
    background: var(--clr-neutral-900);
    color: var(--clr-neutral-100);
  }
  .app__titre {
    padding-left: 1rem;
    font-size: 1.5rem;
    font-weight: 700;
  }
  
  /* FOOTER */
  
  footer {
    padding-block: 1rem;
  }
  
  footer nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  /* MEDIA QUERIES */
  
  @media (max-width: 50rem) {
    .infos__section__card {
      margin-block: 1rem;
    }
    .main__cta__options {
      gap: 2rem;
    }
  
    .app__titre {
      font-size: 1.2rem;
    }
    .app__card span {
      padding: 1.5rem 0.75rem;
      font-size: 2rem;
    }
    .app__card {
      margin-block: 1rem;
    }
    .engagements__section__flex {
      margin-block: 1rem;
    }
    section#infos__section {
      padding-top: 0;
    }
    footer nav {
      flex-wrap: wrap;
      gap: 10px;
    }
  }