
.block_info_schedules_nologin{
  margin: 19px 56px;
  width: 1213px;
  height: 468px;
}
.tm-block-title_nologin{
  margin-left: 56px;
  margin-top: 19px;
  color: #fff;
}
.tm-block-title_nologin{
  
}
.bt_book_car{
  width: 75px;
  height: 30px;
  border-radius: 14px;
  background-color: #ff6b4b;
  border: 1.5px solid rgb(255 150 105);
}



.container::before{
  content: "";
  position: fixed;
  width: 100%;
  height: 100%;
  right: 0;
  top: 0;
  background-color: rgba(27, 27, 27, 65%);
  display: none;
  z-index: 99;
}
.container.show::before{
  display: block;
}
.display_img_click{
  display: none;
  position: fixed;
  width: 667px;
  height: 400px;
  right: 25%;
  top: 134px;
  border-radius: 8px;
  background-color: #fff;
  z-index: 999;
}
.display_img_click img {
  border-radius: 6px;
  border: 1px solid #9a8981;
  overflow: hidden;
  width: 100%;
  height: 100%;
  box-shadow: 1px 1px 5px 0 #1b1744;
}
.display_img_button_exit{
  position: fixed;
  width: 31px;
  height: 31px;
  padding: 0px 5px 38px 5px;
  top: 148px;
  right: 348px;
  color: #efff69;
  font-size: 26px;
  cursor: pointer;
  background-color: #00000073;
  border-radius: 5px;
}

.style_margin_bottom{
  margin-bottom:3px
}
.footer{
 margin-bottom: 10px;
}
.block_title_list_schedules{
  display: flex;
}
.input_book_car{
  position: relative;
}
.bt_search{
  top: -136%;
  right: -23px;
  position: absolute;
  width: 85px;
  height: 35px;
  border: none;
  border-radius: 16px;
  margin: 46px 0 20px 182px;
  background: none;
}
.block_search_form{
  margin-left: 0;
  margin-right: 20%;
  margin-left: 56px;
  margin-top: 19px;
}
.custom-css-class{
  outline: 1px solid #403755;
  height: 33px;
  width: 231px;
  min-width: 220px;
  min-height: 30px;
  padding-left: 10px;
  transition: all 0.3s;
  border: none;
  border-radius: 10px;
  -webkit-box-shadow: 1px 1px 5px 0 #455c71;
  -moz-box-shadow: 1px 1px 5px 0 #455c71;
  box-shadow: 1px 1px 5px 0 #455c71;
}